/**
 * @autor: Livan L. Frometa Osorio <llfrometa@gmail.com>
 * @version 1.0.0
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.banner-fixed {
    width: 100%
}

#index-banner {
    padding-top: 0;
}

@media only screen and (min-width: 993px){
    .container {
        width: 100%;
        max-width: 1250px;
    }
}
.m-b-10 {margin-bottom: 10px;}
.m-b-5 {margin-bottom: 5px;}
.m-b-0 {margin-bottom: 0px;}
.m-t-0 {margin-top: 0px;}
.city-name {
    font-size: 16px;
    color: #727272;
}
.navbar-top .brand-logo>img {
    height: 100%;
    width: auto;
    vertical-align: top;
}
.navbar-top .brand-logo {
    font-size: 1.5em;
    width: auto;
    height: 100%;
    padding: 17px 17px 17px 15px;
}
.yay-toggle {
    padding-top: 26px;
    display: inline-block;
    height: 65px;
    line-height: 65px;
    text-align: center;
    width: 60px;
    transition: background-color .3s;
}
.yay-toggle div.burg1 {
    -webkit-transform: translate3d(0,6px,0) rotate3d(0,0,1,-45deg);
    transform: translate3d(0,6px,0) rotate3d(0,0,1,-45deg);
}
.yay-toggle div {
    display: block;
    position: relative;
    width: 22px;
    height: 2px;
    margin-bottom: 4px;
    margin-left: auto;
    margin-right: auto;
    transition: -webkit-transform .4s cubic-bezier(.18,.65,.65,1.4),opacity .3s cubic-bezier(.18,.65,.65,1.4);
    transition: transform .4s cubic-bezier(.18,.65,.65,1.4),opacity .3s cubic-bezier(.18,.65,.65,1.4);
}
.yay-toggle div.burg2 {
    opacity: 0;
}
.yay-toggle div.burg3 {
    margin-bottom: 0;
    -webkit-transform: translate3d(0,-6px,0) rotate3d(0,0,1,45deg);
    transform: translate3d(0,-6px,0) rotate3d(0,0,1,45deg);
}
.yay-toggle div:after {
    background: #424242;
    opacity: 0;
    -webkit-transform: translate3d(50%,0,0);
    transform: translate3d(50%,0,0);
}
.yay-toggle div:after, .yay-toggle div:before {
    position: absolute;
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    pointer-events: none;
}
.yay-toggle div:before {
    background: #424242;
    opacity: 1;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
.yay-toggle div:after, .yay-toggle div:before {
    position: absolute;
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    pointer-events: none;
}
.yay-toggle div.burg1 {
    -webkit-transform: translate3d(0, 6px, 0) rotate3d(0, 0, 1, -45deg);
    transform: translate3d(0, 6px, 0) rotate3d(0, 0, 1, -45deg);
}
.yay-toggle div.burg1:after, .yay-toggle div.burg1:before {
    transition: -webkit-transform .4s cubic-bezier(.18, .65, .65, 1.4), opacity .3s cubic-bezier(.18, .65, .65, 1.4);
    transition: transform .4s cubic-bezier(.18, .65, .65, 1.4), opacity .3s cubic-bezier(.18, .65, .65, 1.4);
}
.yay-toggle div.burg2 {
    opacity: 0;
}
.yay-toggle div.burg2:after, .yay-toggle div.burg2:before {
    transition: -webkit-transform .4s cubic-bezier(.18, .65, .65, 1.4) .1s, opacity .3s cubic-bezier(.18, .65, .65, 1.4) 80ms;
    transition: transform .4s cubic-bezier(.18, .65, .65, 1.4) .1s, opacity .3s cubic-bezier(.18, .65, .65, 1.4) 80ms;
}
.yay-toggle div.burg3 {
    margin-bottom: 0;
    -webkit-transform: translate3d(0, -6px, 0) rotate3d(0, 0, 1, 45deg);
    transform: translate3d(0, -6px, 0) rotate3d(0, 0, 1, 45deg);
}
.yay-toggle div.burg3:after, .yay-toggle div.burg3:before {
    transition: -webkit-transform .4s cubic-bezier(.18, .65, .65, 1.4) .2s, opacity .3s cubic-bezier(.18, .65, .65, 1.4) .18s;
    transition: transform .4s cubic-bezier(.18, .65, .65, 1.4) .2s, opacity .3s cubic-bezier(.18, .65, .65, 1.4) .18s;
}
.yay-hide .yay-toggle div.burg2 {
    opacity: 1;
}
.yay-hide .yay-toggle div.burg1, .yay-hide .yay-toggle div.burg3 {
    -webkit-transform: translate3d(0, 0, 0) rotate3d(0, 0, 1, 0deg);
    transform: translate3d(0, 0, 0) rotate3d(0, 0, 1, 0deg);
}
.yay-hide .yay-toggle div.burg1, .yay-hide .yay-toggle div.burg3 {
    -webkit-transform: translate3d(0, 0, 0) rotate3d(0, 0, 1, 0deg);
    transform: translate3d(0, 0, 0) rotate3d(0, 0, 1, 0deg);
}
.navbar-top .nav-wrapper>ul>li {
    position: relative;
}
nav ul li {
    transition: background-color .3s;
    padding: 0;
}
.navbar-top .user img {
    width: 35px;
    margin-right: 10px;
    vertical-align: middle;
}
.circle {
    border-radius: 50%;
}
.navbar-top {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 300px;
    z-index: 1001;
    background: #fff;
    color: #424242;
}
nav ul a {
    color: #424242 !important;
}
nav a {
    color: #424242 !important;
}
.navbar-top .dropdown-content li>.sp-cancel, .navbar-top .dropdown-content li>a, .navbar-top .dropdown-content li>span {
    color: #42A5F5 !important;;
}
nav ul li.user i {
    font-size: 1.2em;
}
.navbar-top .dropdown-content i {
    display: inline-block;
    vertical-align: text-top;
    height: auto;
    line-height: 1;
}
.navbar-top .nav-wrapper .dropdown-content i, .navbar-top .nav-wrapper>ul>li>.sp-cancel:not(.btn)>i.right, .navbar-top .nav-wrapper>ul>li>a:not(.btn)>i.right {
    font-size: 1.2em;
}
.dropdown-content li>.sp-cancel i, .dropdown-content li>a i, .dropdown-content li>span i {
    margin-bottom: 2px;
    margin-right: 4px;
}
header, main, footer {
    padding-left: 240px;
}

@media only screen and (max-width : 992px) {
    header, main, footer {
        padding-left: 0;
    }
}
#slide-out {
    padding-top: 66px;
}
.yaybar, .yaybar .top, body {
    overflow: hidden;
}
.alert {
    padding: 1rem;
    margin: 1rem 0;
    border-radius: 2px;
    background-color: #FFCDD2;
    color: #E53935;
}
.alert h1, .alert h2, .alert h3, .alert h4, .alert h5 {
    margin-top: 0;
    color: inherit;
}
.alert>p, .alert>ul {
    margin-bottom: 0;
}
.alert>p+p {
    margin-top: 5px;
}
.alert .sp-cancel, .alert a {
    color: inherit;
    text-decoration: underline;
}
.alert .btn-large.sp-cancel, .alert .btn.sp-cancel, .alert .fc button.sp-cancel, .alert .sp-container button.sp-cancel, .alert a.btn, .alert a.btn-large, .fc .alert button.sp-cancel, .sp-container .alert button.sp-cancel {
    color: #fff;
    text-decoration: none;
}
.alert .close {
    position: relative;
    top: -2px;
    right: -21px;
    float: right;
    font-size: 21px;
    line-height: 1.3;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;
    -webkit-appearance: none;
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0;
}
.alert .close:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    filter: alpha(opacity=50);
    opacity: .5;
}
.alert.alert-border-left {
    border-left: 4px solid;
}
.alert.alert-border-right {
    border-right: 4px solid;
}
.alert.alert-border-top {
    border-top: 2px solid;
}
.alert.alert-border-bottom {
    border-bottom: 2px solid;
}
.alert-dismissible {
    padding-right: 35px;
}
@-webkit-keyframes progress-bar-stripes {
    from {
        background-position: 40px 0;
    }
    to {
        background-position: 0 0;
    }
}@keyframes progress-bar-stripes {
     from {
         background-position: 40px 0;
     }
     to {
         background-position: 0 0;
     }
 }.progress {
      height: 15px;
      color: #fff;
      background: #F9F9F9;
      box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
  }
.progress>div {
    text-align: center;
    background-color: #64B5F6;
    float: left;
    height: 15px;
    line-height: 15px;
}
.progress.small {
    height: 5px;
}
.progress.small>div {
    height: 5px;
    line-height: 5px;
}
.progress.tiny {
    height: 2px;
}
.progress.tiny>div {
    height: 2px;
    line-height: 2px;
}
.progress.big {
    height: 25px;
}
.progress.big>div {
    height: 25px;
    line-height: 25px;
}
.progress.extra {
    height: 35px;
}
.progress.extra>div {
    height: 35px;
    line-height: 35px;
}
.progress>div.striped {
    background-image: linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-size: 40px 40px;
}
.progress>div.striped.active {
    -webkit-animation: progress-bar-stripes 2s linear infinite;
    animation: progress-bar-stripes 2s linear infinite;
}
.nano>.nano-pane {
    width: 5px;
    background: rgba(0, 0, 0, .4);
    border-radius: 0;
    z-index: 999;
}
.nano>.nano-pane>.nano-slider {
    background: #42A5F5;
    margin: 0;
    border-radius: 0;
}
html.rtl .nano>.nano-pane {
    right: auto;
    left: 0;
}
html {
    min-width: 300px;
    overflow-x: hidden;
}
.navbar .yay-toggle {
    float: left;
    margin-left: -4px;
}
.navbar .yay-toggle+.navbar-brand, .yaybar.yay-overlay~.content-wrap,
.yaybar.yay-overlay~.load-spinner, .yaybar.yay-overlay~footer {
    margin-left: 0;
}
.yaybar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 240px;
    padding-bottom: 65px;
    background: #35384C;
    font-size: 1rem;
    z-index: 1000;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.yaybar.yay-static {
    position: absolute;
}
.yaybar .top {
    width: 100%;
    height: 65px;
}
.yaybar .top>div {
    width: 240px;
    height: 65px;
}
.yaybar .top .yay-toggle {
    float: left;
}
.yaybar .top .yay-toggle div:after, .yaybar .top .yay-toggle div:before {
    background: #fff;
}
.yaybar .top .brand-logo {
    height: 100%;
    padding: 17px 17px 17px 15px;
    display: block;
    float: left;
}
.yaybar .top .brand-logo img {
    height: 100%}
.yaybar i {
    font-size: 1.1em;
    margin-right: 5px;
    vertical-align: middle;
    width: 1.4em;
    display: inline-block;
}
.yaybar i.fa {
    vertical-align: baseline;
}
.yaybar ul {
    margin: 0;
    padding: 0;
}
.yaybar .nano-content>ul {
    width: 100%;
    min-width: 240px;
}
.yaybar .nano-content>ul li.label {
    font-size: .9em;
    height: 30px;
    line-height: 40px;
    color: #767CA0;
    text-transform: uppercase;
    font-weight: 400;
}
.yaybar .nano-content>ul li.content {
    padding: 10px;
    color: #D8D8D8;
}
.yaybar .nano-content>ul li.content .progress {
    margin-top: .7em;
}
.yaybar .nano-content>ul li>ul {
    display: none;
}
.yaybar .nano-content>ul li.open>ul {
    display: block;
}
.yaybar .nano-content>ul li>.sp-cancel, .yaybar .nano-content>ul li>a {
    display: block;
    cursor: pointer;
    color: #D8D8D8;
    padding: 10px;
    line-height: 20px;
    border-bottom: none;
    background: 0 0;
    text-decoration: none;
    z-index: auto;
    transition: none;
}
.yaybar .nano-content>ul li>.sp-cancel>.yay-collapse-icon, .yaybar .nano-content>ul li>a>.yay-collapse-icon {
    float: right;
    margin-right: 5px;
    transition: -webkit-transform .3s ease;
    transition: transform .3s ease;
}
.yaybar .nano-content>ul li>.sp-cancel>.badge, .yaybar .nano-content>ul li>a>.badge {
    float: right;
    font-weight: 400;
    font-size: .9rem;
    color: #fff;
    background-color: #42A5F5;
    height: auto;
    line-height: 1;
    border-radius: 10px;
    min-width: 10px;
    padding: 3px 7px;
}
.yaybar .nano-content>ul li.active>.sp-cancel, .yaybar .nano-content>ul li.active>a, .yaybar .nano-content>ul li.open>.sp-cancel, .yaybar .nano-content>ul li.open>a, .yaybar .nano-content>ul li:hover>.sp-cancel, .yaybar .nano-content>ul li:hover>a {
    color: #fff;
}
.yaybar .nano-content>ul li.open>.sp-cancel>.yay-collapse-icon, .yaybar .nano-content>ul li.open>a>.yay-collapse-icon {
    -webkit-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg);
}
.yaybar .nano-content>ul>li.content, .yaybar .nano-content>ul>li.label, .yaybar .nano-content>ul>li>.sp-cancel, .yaybar .nano-content>ul>li>a, html.rtl .yaybar .nano-content>ul>li.content, html.rtl .yaybar .nano-content>ul>li.label, html.rtl .yaybar .nano-content>ul>li>.sp-cancel, html.rtl .yaybar .nano-content>ul>li>a {
    padding-left: 15px;
    padding-right: 15px;
}
.yaybar .nano-content>ul>li.active, .yaybar .nano-content>ul>li.open, .yaybar .nano-content>ul>li>ul {
    background: #2d2f40;
}
.yaybar .nano-content>ul>li>ul>li.content, .yaybar .nano-content>ul>li>ul>li.label, .yaybar .nano-content>ul>li>ul>li>.sp-cancel, .yaybar .nano-content>ul>li>ul>li>a {
    padding-left: 45px;
    padding-right: 15px;
}
html.rtl .yaybar .nano-content>ul>li>ul>li.content, html.rtl .yaybar .nano-content>ul>li>ul>li.label, html.rtl .yaybar .nano-content>ul>li>ul>li>.sp-cancel, html.rtl .yaybar .nano-content>ul>li>ul>li>a {
    padding-left: 15px;
    padding-right: 45px;
}
.yaybar .nano-content>ul>li>ul>li.active, .yaybar .nano-content>ul>li>ul>li.open, .yaybar .nano-content>ul>li>ul>li>ul {
    background: #242634;
}
.yaybar .nano-content>ul>li>ul>li>ul>li.content, .yaybar .nano-content>ul>li>ul>li>ul>li.label, .yaybar .nano-content>ul>li>ul>li>ul>li>.sp-cancel, .yaybar .nano-content>ul>li>ul>li>ul>li>a {
    padding-left: 67.5px;
    padding-right: 15px;
}
html.rtl .yaybar .nano-content>ul>li>ul>li>ul>li.content, html.rtl .yaybar .nano-content>ul>li>ul>li>ul>li.label, html.rtl .yaybar .nano-content>ul>li>ul>li>ul>li>.sp-cancel, html.rtl .yaybar .nano-content>ul>li>ul>li>ul>li>a {
    padding-left: 15px;
    padding-right: 67.5px;
}
.yaybar .nano-content>ul>li>ul>li>ul>li.active, .yaybar .nano-content>ul>li>ul>li>ul>li.open, .yaybar .nano-content>ul>li>ul>li>ul>li>ul {
    background: #1c1d28;
}
.yaybar .nano-content>ul>li>ul>li>ul>li>ul>li.content, .yaybar .nano-content>ul>li>ul>li>ul>li>ul>li.label, .yaybar .nano-content>ul>li>ul>li>ul>li>ul>li>.sp-cancel, .yaybar .nano-content>ul>li>ul>li>ul>li>ul>li>a {
    padding-left: 90px;
    padding-right: 15px;
}
html.rtl .yaybar .nano-content>ul>li>ul>li>ul>li>ul>li.content, html.rtl .yaybar .nano-content>ul>li>ul>li>ul>li>ul>li.label, html.rtl .yaybar .nano-content>ul>li>ul>li>ul>li>ul>li>.sp-cancel, html.rtl .yaybar .nano-content>ul>li>ul>li>ul>li>ul>li>a {
    padding-left: 15px;
    padding-right: 90px;
}
body {
    position: relative;
}
.yay-hide .yaybar {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
}
.yay-hide .yaybar .nano-content>ul {
    min-width: 0;
}
.yaybar {
    transition: -webkit-transform .3s ease, width .3s ease;
    transition: transform .3s ease, width .3s ease;
}
.yay-hide .yaybar.yay-hide-to-small {
    width: 60px;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
}
.yay-hide .yaybar.yay-hide-to-small,
.yay-hide .yaybar.yay-hide-to-small .nano,
.yay-hide .yaybar.yay-hide-to-small .nano-content {
    overflow: visible;
}
.yay-hide .yaybar.yay-hide-to-small .nano-content>ul .content, .yay-hide .yaybar.yay-hide-to-small .nano-content>ul .label {
    display: none;
}
.yay-hide .yaybar.yay-hide-to-small .nano-content>ul>li>.sp-cancel, .yay-hide .yaybar.yay-hide-to-small .nano-content>ul>li>a {
    text-align: center;
    padding: 12px 0;
    line-height: 1;
    width: 60px;
}
.yay-hide .yaybar.yay-hide-to-small .nano-content>ul>li>.sp-cancel>i, .yay-hide .yaybar.yay-hide-to-small .nano-content>ul>li>a>i {
    width: auto;
    font-size: 1.7rem;
}
.yay-hide .yaybar.yay-hide-to-small .nano-content>ul>li>.sp-cancel, .yay-hide .yaybar.yay-hide-to-small .nano-content>ul>li>.sp-cancel>.yay-collapse-icon, .yay-hide .yaybar.yay-hide-to-small .nano-content>ul>li>a, .yay-hide .yaybar.yay-hide-to-small .nano-content>ul>li>a>.yay-collapse-icon {
    font-size: 0;
}
.yay-hide .yaybar.yay-hide-to-small .nano-content>ul>li>.sp-cancel>.badge, .yay-hide .yaybar.yay-hide-to-small .nano-content>ul>li>a>.badge {
    position: absolute;
    right: 3px;
    top: 3px;
}
.yay-hide .yaybar.yay-hide-to-small .nano-content>ul>li {
    position: relative;
}
.yay-hide .yaybar.yay-hide-to-small .nano-content>ul>li>ul {
    visibility: hidden;
    width: 240px;
    position: absolute;
    top: 0;
    left: 100%}
.yay-hide .yaybar.yay-hide-to-small .nano-content>ul li:hover>ul {
    display: block!important;
    visibility: visible;
}
.yay-hide .yaybar.yay-hide-to-small~.content-wrap,
.yay-hide .yaybar.yay-hide-to-small~.load-spinner,
.yay-hide .yaybar.yay-hide-to-small~footer,
.yaybar.yay-overlay.yay-hide-to-small~.content-wrap,
.yaybar.yay-overlay.yay-hide-to-small~.load-spinner,
.yaybar.yay-overlay.yay-hide-to-small~footer {
    margin-left: 60px;
}
.yaybar.yay-push~.content-wrap,
.yaybar.yay-push~.load-spinner,
.yaybar.yay-push~footer {
    margin-left: 0;
    -webkit-transform: translate3d(240px, 0, 0);
    transform: translate3d(240px, 0, 0);
    transition: -webkit-transform .3s ease, margin-left .3s ease;
    transition: transform .3s ease, margin-left .3s ease;
}
.yay-hide .yaybar.yay-push~.content-wrap,
.yay-hide .yaybar.yay-push~.load-spinner,
.yay-hide .yaybar.yay-push~footer {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.yaybar.yay-shrink~.content-wrap,
.yaybar.yay-shrink~.load-spinner,
.yaybar.yay-shrink~footer {
    margin-left: 240px;
    transition: margin-left .3s ease;
}
.yay-hide .yaybar.yay-shrink~.content-wrap,
.yay-hide .yaybar.yay-shrink~.load-spinner,
.yay-hide .yaybar.yay-shrink~footer {
    margin-left: 0;
}
.yay-hide .yaybar.yay-shrink.yay-hide-to-small~.content-wrap,
.yay-hide .yaybar.yay-shrink.yay-hide-to-small~.load-spinner,
.yay-hide .yaybar.yay-shrink.yay-hide-to-small~footer {
    margin-left: 60px;
}
.yaybar.yay-overlap-content~.content-wrap:after,
.yaybar.yay-overlap-content~footer:after {
    content: '';
    display: block;
    position: absolute;
    cursor: pointer;
    visibility: visible;
    opacity: 1;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, .5);
    z-index: 10;
    transition: opacity .3s ease, visibility .3s ease;
}
.chat .messages .list .from-them:after, .chat .messages .list .from-them:before {
    content: "";
    height: 20px;
    bottom: -2px;
    position: absolute;
}
.yay-hide .yaybar.yay-overlap-content~.content-wrap:after,
.yay-hide .yaybar.yay-overlap-content~footer:after {
    visibility: hidden;
    opacity: 0;
}
.yaybar ul>li.yay-user-info {
    background-color: #2d2f40;
}
.yaybar ul>li.yay-user-info>.sp-cancel, .yaybar ul>li.yay-user-info>a {
    position: relative;
    display: block;
    overflow: hidden;
    padding-top: 1.53846rem;
    padding-bottom: 1.53846rem;
    padding-left: 75px!important;
}
.yaybar ul>li.yay-user-info>.sp-cancel>img, .yaybar ul>li.yay-user-info>a>img {
    position: absolute;
    top: 1.73846rem;
    left: 15px;
    width: 45px;
}
.yaybar ul>li.yay-user-info>.sp-cancel .yay-user-info-name, .yaybar ul>li.yay-user-info>a .yay-user-info-name {
    color: #fff;
    font-weight: 700;
    font-size: 1.3rem;
    margin-top: 0;
    margin-bottom: 0;
}
.yaybar ul>li.yay-user-info>.sp-cancel .yay-user-location, .yaybar ul>li.yay-user-info>a .yay-user-location {
    font-size: .9rem;
    color: #ECECEC;
}
.yaybar ul>li.yay-user-info>.sp-cancel .yay-user-location i, .yaybar ul>li.yay-user-info>a .yay-user-location i {
    width: auto;
}
.yay-hide .yaybar.yay-hide-to-small ul>li.yay-user-info>.sp-cancel, .yay-hide .yaybar.yay-hide-to-small ul>li.yay-user-info>a {
    height: 60px;
    padding: 0!important;
}
.yay-hide .yaybar.yay-hide-to-small ul>li.yay-user-info>.sp-cancel>*, .yay-hide .yaybar.yay-hide-to-small ul>li.yay-user-info>a>* {
    display: none;
}
.yay-hide .yaybar.yay-hide-to-small ul>li.yay-user-info>.sp-cancel>img, .yay-hide .yaybar.yay-hide-to-small ul>li.yay-user-info>a>img {
    display: block;
    left: 13px;
    top: 13px;
    width: 35px;
}
.yaybar.yay-light ul>li.yay-user-info {
    background-color: #2f9cf4;
}
.yaybar .nano {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.yaybar .nano>.nano-content {
    position: absolute;
    overflow: scroll;
    overflow-x: hidden;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.yaybar .nano>.nano-content:focus {
    outline: dotted thin;
}
.yaybar .nano>.nano-content::-webkit-scrollbar {
    display: none;
}
.yaybar .nano.has-scrollbar>.nano-content::-webkit-scrollbar {
    display: block;
}
.yaybar .nano>.nano-pane {
    background: rgba(0, 0, 0, .25);
    position: absolute;
    width: 5px;
    right: 0;
    top: 0;
    bottom: 0;
    visibility: hidden\9;
    opacity: .01;
    border-radius: 5px;
}
.yaybar .nano>.nano-pane>.nano-slider {
    background: #42A5F5;
    position: relative;
}
.yaybar .nano:hover>.nano-pane, .yaybar .nano>.nano-pane.active, .yaybar .nano>.nano-pane.flashed {
    visibility: visible\9;
    opacity: .99;
}
.yay-notransition .yaybar, .yay-notransition .yaybar.yay-overlap-content~.content-wrap:after,
.yay-notransition .yaybar.yay-overlap-content~footer:after,
.yay-notransition .yaybar.yay-push~.content-wrap,
.yay-notransition .yaybar.yay-push~.load-spinner,
.yay-notransition .yaybar.yay-push~footer,
.yay-notransition .yaybar.yay-shrink~.content-wrap,
.yay-notransition .yaybar.yay-shrink~.load-spinner,
.yay-notransition .yaybar.yay-shrink~footer,
html.rtl .yay-notransition .yaybar,
html.rtl .yay-notransition .yaybar.yay-overlap-content~.content-wrap:after,
html.rtl .yay-notransition .yaybar.yay-overlap-content~footer:after,
html.rtl .yay-notransition .yaybar.yay-push~.content-wrap,
html.rtl .yay-notransition .yaybar.yay-push~.load-spinner,
html.rtl .yay-notransition .yaybar.yay-push~footer,
html.rtl .yay-notransition .yaybar.yay-shrink~.content-wrap,
html.rtl .yay-notransition .yaybar.yay-shrink~.load-spinner,
html.rtl .yay-notransition .yaybar.yay-shrink~footer {
    transition: none!important;
}
.yaybar.yay-light {
    background: #fff;
    border-right: 1px solid #DEE1EC;
}
.yaybar.yay-light .top .yay-toggle div:after,
.yaybar.yay-light .top .yay-toggle div:before {
    background: #424242;
}
.yaybar.yay-light .nano>.nano-pane {
    background: rgba(0, 0, 0, .15);
}
.yaybar.yay-light .nano-content>ul>li.content,
.yaybar.yay-light .nano-content>ul>li>.sp-cancel,
.yaybar.yay-light .nano-content>ul>li>a {
    color: #474747;
}
.yaybar.yay-light .nano-content>ul>li:hover>.sp-cancel,
.yaybar.yay-light .nano-content>ul>li:hover>a {
    color: #000;
}
.yaybar.yay-light .nano-content>ul>li.active>.sp-cancel,
.yaybar.yay-light .nano-content>ul>li.active>a,
.yaybar.yay-light .nano-content>ul>li.open>.sp-cancel,
.yaybar.yay-light .nano-content>ul>li.open>a {
    color: #fff;
}
.yaybar.yay-light .nano-content>ul>li li>.sp-cancel,
.yaybar.yay-light .nano-content>ul>li li>a {
    color: #ECECEC;
}
.yaybar.yay-light .nano-content>ul>li li:hover>.sp-cancel,
.yaybar.yay-light .nano-content>ul>li li:hover>a {
    color: #fff;
}
.yaybar.yay-light .nano-content>ul>li.content,
.yaybar.yay-light .nano-content>ul>li.label,
.yaybar.yay-light .nano-content>ul>li>.sp-cancel,
.yaybar.yay-light .nano-content>ul>li>a,
html.rtl .yaybar.yay-light .nano-content>ul>li.content,
html.rtl .yaybar.yay-light .nano-content>ul>li.label,
html.rtl .yaybar.yay-light .nano-content>ul>li>.sp-cancel,
html.rtl .yaybar.yay-light .nano-content>ul>li>a {
    padding-left: 15px;
    padding-right: 15px;
}
.yaybar.yay-light .nano-content>ul>li.active,
.yaybar.yay-light .nano-content>ul>li.open,
.yaybar.yay-light .nano-content>ul>li>ul {
    background: #2f9cf4;
}
.yaybar.yay-light .nano-content>ul>li>ul>li.content,
.yaybar.yay-light .nano-content>ul>li>ul>li.label,
.yaybar.yay-light .nano-content>ul>li>ul>li>.sp-cancel,
.yaybar.yay-light .nano-content>ul>li>ul>li>a {
    padding-left: 45px;
    padding-right: 15px;
}
html.rtl .yaybar.yay-light .nano-content>ul>li>ul>li.content,
html.rtl .yaybar.yay-light .nano-content>ul>li>ul>li.label,
html.rtl .yaybar.yay-light .nano-content>ul>li>ul>li>.sp-cancel,
html.rtl .yaybar.yay-light .nano-content>ul>li>ul>li>a {
    padding-left: 15px;
    padding-right: 45px;
}
.yaybar.yay-light .nano-content>ul>li>ul>li.active,
.yaybar.yay-light .nano-content>ul>li>ul>li.open,
.yaybar.yay-light .nano-content>ul>li>ul>li>ul {
    background: #1b93f3;
}
.yaybar.yay-light .nano-content>ul>li>ul>li>ul>li.content,
.yaybar.yay-light .nano-content>ul>li>ul>li>ul>li.label,
.yaybar.yay-light .nano-content>ul>li>ul>li>ul>li>.sp-cancel,
.yaybar.yay-light .nano-content>ul>li>ul>li>ul>li>a {
    padding-left: 67.5px;
    padding-right: 15px;
}
html.rtl .yaybar.yay-light .nano-content>ul>li>ul>li>ul>li.content,
html.rtl .yaybar.yay-light .nano-content>ul>li>ul>li>ul>li.label,
html.rtl .yaybar.yay-light .nano-content>ul>li>ul>li>ul>li>.sp-cancel,
html.rtl .yaybar.yay-light .nano-content>ul>li>ul>li>ul>li>a {
    padding-left: 15px;
    padding-right: 67.5px;
}
.yaybar.yay-light .nano-content>ul>li>ul>li>ul>li.active,
.yaybar.yay-light .nano-content>ul>li>ul>li>ul>li.open,
.yaybar.yay-light .nano-content>ul>li>ul>li>ul>li>ul {
    background: #0d89ed;
}
.yaybar.yay-light .nano-content>ul>li>ul>li>ul>li>ul>li.content,
.yaybar.yay-light .nano-content>ul>li>ul>li>ul>li>ul>li.label,
.yaybar.yay-light .nano-content>ul>li>ul>li>ul>li>ul>li>.sp-cancel,
.yaybar.yay-light .nano-content>ul>li>ul>li>ul>li>ul>li>a {
    padding-left: 90px;
    padding-right: 15px;
}
html.rtl .yaybar.yay-light .nano-content>ul>li>ul>li>ul>li>ul>li.content,
html.rtl .yaybar.yay-light .nano-content>ul>li>ul>li>ul>li>ul>li.label,
html.rtl .yaybar.yay-light .nano-content>ul>li>ul>li>ul>li>ul>li>.sp-cancel,
html.rtl .yaybar.yay-light .nano-content>ul>li>ul>li>ul>li>ul>li>a {
    padding-left: 15px;
    padding-right: 90px;
}
.navbar-top {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 300px;
    z-index: 1001;
    background: #fff;
    color: #424242;
}
nav {
    box-shadow: 0 1px 2px rgba(0,0,0,.26)!important;
}
.navbar-top.navbar-static {
    position: absolute;
}
.navbar-top.navbar-under {
    z-index: 999;
}
.navbar-top .nav-wrapper>.sp-cancel,
.navbar-top .nav-wrapper>a, .navbar-top li>.sp-cancel,
.navbar-top li>a {
    color: inherit;
}
.navbar-top .nav-wrapper>ul>li>.sp-cancel:not(.btn)>i,
.navbar-top .nav-wrapper>ul>li>a:not(.btn)>i {
    font-size: 1.6em;
    height: 65px;
    line-height: 65px;
}
.navbar-top .nav-wrapper .dropdown-content i,
.navbar-top .nav-wrapper>ul>li>.sp-cancel:not(.btn)>i.right,
.navbar-top .nav-wrapper>ul>li>a:not(.btn)>i.right {
    font-size: 1.2em;
}
.fc .navbar-top .nav-wrapper>ul>li>button.sp-cancel>i,
.navbar-top .fc .nav-wrapper>ul>li>button.sp-cancel>i,
.navbar-top .nav-wrapper>ul>li>.btn-large.sp-cancel>i,
.navbar-top .nav-wrapper>ul>li>.btn.sp-cancel>i,
.navbar-top .nav-wrapper>ul>li>a.btn-large>i,
.navbar-top .nav-wrapper>ul>li>a.btn>i,
.navbar-top .sp-container .nav-wrapper>ul>li>button.sp-cancel>i,
.sp-container .navbar-top .nav-wrapper>ul>li>button.sp-cancel>i {
    font-size: 1.3rem;
    line-height: inherit;
    height: auto;
}
.navbar-top .brand-logo {
    font-size: 1.5em;
    width: auto;
    height: 100%;
    padding: 17px 17px 17px 15px;
}
.navbar-top .brand-logo>img {
    height: 100%;
    width: auto;
    vertical-align: top;
}
.navbar-top, .navbar-top .button-collapse.sp-cancel,
.navbar-top a.button-collapse {
    height: 65px;
    line-height: 65px;
}
.navbar-top .user img {
    width: 35px;
    margin-right: 10px;
    vertical-align: middle;
}
.navbar-top .dropdown-content li>.sp-cancel,
.navbar-top .dropdown-content li>a,
.navbar-top .dropdown-content li>span {
    color: #42A5F5;
    font-size: 1rem;
}
.navbar-top .dropdown-content i {
    display: inline-block;
    vertical-align: bottom;
    height: auto;
    line-height: 1;
}
.navbar-top .nav-wrapper>ul>li {
    position: relative;
}
.navbar-top .nav-wrapper>ul>li>.sp-cancel>.badge,
.navbar-top .nav-wrapper>ul>li>a>.badge {
    position: absolute;
    top: 12px;
    right: 8px;
    width: auto;
    min-width: auto;
    border-radius: 9px;
    height: 17px;
    line-height: 17px;
}
.navbar-top .dropdown-media {
    min-width: 350px;
    margin-top: 65px;
    line-height: 1.5;
    background: 0 0;
    box-shadow: none!important;
    padding: 5px;
}
.navbar-top .dropdown-media .sp-cancel,
.navbar-top .dropdown-media a {
    transition: none;
    color: #039be5;
    background-color: transparent;
    padding: 0;
}
.navbar-top .dropdown-media .media-heading {
    display: block;
    width: 100%;
    padding-bottom: 20px;
    font-size: 1.2em;
}
.navbar-top .dropdown-media .media-heading .sp-cancel,
.navbar-top .dropdown-media .media-heading a {
    font-size: 1em;
    line-height: 1em;
    color: inherit;
    float: right;
}
.navbar-top .dropdown-media .media-heading .sp-cancel:hover,
.navbar-top .dropdown-media .media-heading a:hover {
    opacity: .7;
}
.navbar-top .dropdown-media .card-panel {
    padding-bottom: 60px;
}
.navbar-top .dropdown-media .media-footer {
    position: absolute;
    bottom: 5px;
    left: 5px;
    right: 5px;
    text-align: center;
}
.navbar-top .dropdown-media .media-footer .sp-cancel,
.navbar-top .dropdown-media .media-footer a {
    font-size: 1.3em;
    line-height: 1.3em;
    color: inherit;
    padding-top: 7px;
    padding-bottom: 7px;
}
.navbar-top .dropdown-media .media-footer .sp-cancel:hover,
.navbar-top .dropdown-media .media-footer a:hover {
    background: #F9F9F9;
}
.navbar-top .dropdown-media .media-title {
    margin-bottom: 5px;
}
.navbar-top .dropdown-media .media-title:hover {
    color: #038acc;
    text-decoration: underline;
}
.navbar-top .dropdown-media .media-date {
    color: #777;
    float: right;
    font-size: .8em;
}
@media only screen and (max-width:550px) {
    .navbar-top .dropdown-media {
        min-width: auto;
        width: 100%!important;
        left: 0!important;
        right: 0!important;
    }
}.navbar-top.navbar-dark {
     background: #35384C;
     color: #fff;
     box-shadow: 0 1px 4px rgba(0, 0, 0, .3);
 }
.navbar-top.navbar-dark .yay-toggle div:after,
.navbar-top.navbar-dark .yay-toggle div:before {
    background: #fff;
}
.yay-toggle div:after, .navbar-top.navbar-dark .yay-toggle div:before {
    background: #fff;
}
.yay-toggle {
    padding-top: 26px;
    display: inline-block;
    height: 65px;
    line-height: 65px;
    text-align: center;
    width: 60px;
    transition: background-color .3s;
}
.yay-toggle:hover {
    background-color: rgba(0, 0, 0, .04);
}
.yay-toggle div {
    display: block;
    position: relative;
    width: 22px;
    height: 2px;
    margin-bottom: 4px;
    margin-left: auto;
    margin-right: auto;
    transition: -webkit-transform .4s cubic-bezier(.18, .65, .65, 1.4), opacity .3s cubic-bezier(.18, .65, .65, 1.4);
    transition: transform .4s cubic-bezier(.18, .65, .65, 1.4), opacity .3s cubic-bezier(.18, .65, .65, 1.4);
}
.yay-toggle div.burg1 {
    -webkit-transform: translate3d(0, 6px, 0) rotate3d(0, 0, 1, -45deg);
    transform: translate3d(0, 6px, 0) rotate3d(0, 0, 1, -45deg);
}
.yay-toggle div.burg1:after, .yay-toggle div.burg1:before {
    transition: -webkit-transform .4s cubic-bezier(.18, .65, .65, 1.4), opacity .3s cubic-bezier(.18, .65, .65, 1.4);
    transition: transform .4s cubic-bezier(.18, .65, .65, 1.4), opacity .3s cubic-bezier(.18, .65, .65, 1.4);
}
.yay-toggle div.burg2 {
    opacity: 0;
}
.yay-toggle div.burg2:after, .yay-toggle div.burg2:before {
    transition: -webkit-transform .4s cubic-bezier(.18, .65, .65, 1.4) .1s, opacity .3s cubic-bezier(.18, .65, .65, 1.4) 80ms;
    transition: transform .4s cubic-bezier(.18, .65, .65, 1.4) .1s, opacity .3s cubic-bezier(.18, .65, .65, 1.4) 80ms;
}
.yay-toggle div.burg3 {
    margin-bottom: 0;
    -webkit-transform: translate3d(0, -6px, 0) rotate3d(0, 0, 1, 45deg);
    transform: translate3d(0, -6px, 0) rotate3d(0, 0, 1, 45deg);
}
.yay-toggle div.burg3:after, .yay-toggle div.burg3:before {
    transition: -webkit-transform .4s cubic-bezier(.18, .65, .65, 1.4) .2s, opacity .3s cubic-bezier(.18, .65, .65, 1.4) .18s;
    transition: transform .4s cubic-bezier(.18, .65, .65, 1.4) .2s, opacity .3s cubic-bezier(.18, .65, .65, 1.4) .18s;
}
.yay-toggle div:after, .yay-toggle div:before {
    position: absolute;
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    pointer-events: none;
}
.yay-toggle div:before {
    background: #424242;
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.yay-toggle div:after {
    background: #424242;
    opacity: 0;
    -webkit-transform: translate3d(50%, 0, 0);
    transform: translate3d(50%, 0, 0);
}
.yay-toggle:hover div:before {
    opacity: 0;
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
}
.yay-toggle:hover div:after {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.yay-hide .yay-toggle div.burg2 {
    opacity: 1;
}
.yay-hide .yay-toggle div.burg1, .yay-hide .yay-toggle div.burg3 {
    -webkit-transform: translate3d(0, 0, 0) rotate3d(0, 0, 1, 0deg);
    transform: translate3d(0, 0, 0) rotate3d(0, 0, 1, 0deg);
}
.yaybar ul>li.yay-user-info {
    background-color: #176CC1;
}
.nano > .nano-content {
    background-color: #35384C;
}
.yaybar .nano > .nano-content{
    background: #1976D2;
}
.yaybar .nano-content>ul>li.active, .yaybar .nano-content>ul>li.open, .yaybar .nano-content>ul>li>ul {
    background: #1976D2;
}
.yaybar.yay-shrink~.content-wrap, .yaybar.yay-shrink~.load-spinner, .yaybar.yay-shrink~footer {
    margin-left: 240px;
    transition: margin-left .3s ease;
}
.content-wrap {
    min-height: 100%;
    min-height: 100vh;
    min-height: calc(100vh - 40px);
    margin-left: 240px;
    padding: 91px 0rem 0rem 0rem;
    padding-top: calc(39px + 2rem);
    transition: margin-left .3s ease-in-out;
    background: #F9F9F9;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}
@media only screen and (min-width: 1200px){
    html {
        font-size: 13px;
    }
}
@media only screen and (min-width: 992px){
    html {
        font-size: 13px;
    }
}
@media only screen and (min-width: 0){
    html {
        font-size: 13px;
    }
}
@media only screen and (min-width:993px){
    nav .button-collapse.sp-cancel,nav a.button-collapse{
        display:none
    }
}
.yaybar .nano {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.nano {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.yaybar .nano > .nano-content {
    background: #1976D2;
}
.yaybar .nano>.nano-content {
    position: absolute;
    overflow: scroll;
    overflow-x: hidden;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
span.badge.new:after{content:none}span.badge,span.badge.new{font-weight:400}
span.badge.new{font-size:.8rem;color:#fff;background-color:#42A5F5;border-radius:2px}
footer {
    position: relative;
    border-top: 1px solid #DEE1EC;
    height: 70px;
}
.demo-bar, footer {
    background: #fff;
    padding: 2rem;
}
.container {
    width: 100%;
}
@media only screen and (max-width: 767px) {
    nav .brand-logo {
        display: none;
    }
}
@media only screen and (max-width: 992px) {
    .hide-on-med-and-down {
         display: block !important;
    }
}
.contact-card {
    padding: 0px;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 2px 1px -1px rgba(0,0,0,.12);
}
.contact-card .collection .collection-item.active {
    font-weight: 500;
    color: #000;
    background-color: transparent;
}
.contact-card .collection .collection-item.active:hover {
    background-color: #ECECEC;
}
.contact-card .collection a.collection-item:not(.active):hover {
    background-color: #ECECEC;
}
.contact-card .collection .collection-item {
    min-height: 48px !important;
    height: auto;
}
.contact-card .collection a.collection-item {
    color: #424242 !important;
}
.contact-card .collection .collection-item {
    border-bottom: 0px solid #e0e0e0 !important;
}
.contact-card .collection {
    padding-top: 10px;
    margin: 0.5rem 0 0 0 !important;
    border: 0px solid #e0e0e0 !important;
}
.contact-card .collection.collection-group .collection-item.active:hover {
    background-color: transparent !important;
}
.contact-card .collection.collection-group .collection-item.active{
    color: rgba(0,0,0,0.54) !important;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: .010em;
    line-height: 1.2em;
    padding-bottom: 0px;
    min-height: 40px !important;
    height: auto;
}
.contact-card .collection.collection-group .collection-item-group {
    padding: 10px 30px;
}
.contact-card .collection.collection-group .collection-item-new {
    color: rgb(3,155,229) !important;
}
.contact-card .collection.collection-group .from-add-group {
    padding-left: 20px;
    padding-right: 20px;
}
.contact-card .collection.collection-group .from-add-group .btn-floating {
    width: 30px;
    height: 30px;
}
.contact-card .collection.collection-group .from-add-group .column-btn .btn-cancel{
    background-color: rgba(0,0,0,0.54) !important;
}
.contact-card .collection.collection-group .from-add-group .column-btn .btn-accept{
    margin-right: 5px;
    background-color: rgb(41,182,246) !important;
}
.contact-card .collection.collection-group .from-add-group .column-btn {
    padding-right: 5px;
}
.contact-card .collection.collection-group .from-add-group .btn-floating i {
    position: relative;
    top: -6px;
    line-height: 30px;
}
.contact-card .collection.collection-group .from-add-group input{
    border: 1px solid rgba(0,0,0,.2);
    padding: 4px 2px;
    margin-bottom: 8px;
    font-size: 13px;
    width: 100%;
    height: 1.3rem;
}
.contact-card .collection.collection-group .from-add-group input:not([type]):focus:not([readonly]) {
    border-bottom: 1px solid rgba(0,0,0,.2);
    box-shadow: 0 0px 0 0 rgba(0,0,0,.2);
}
.contact-card .collection.collection-group{
    margin-top: 0px !important;
    padding-top: 5px;
}
.section-contect {
    padding-top: 0rem !important;
}
.nav-title {
    background-image: url(../images/header-bg.png);
    background-size: cover;
    background-color: rgb(3,155,229);
}
nav.nav-title ul a {
    color: rgba(255,255,255,1) !important;
    font-size: 16px;
}
nav.nav-title ul.left{
    position: absolute;
}
nav.nav-title ul a:hover {
    background-color: transparent;
}
@media only screen and (min-width: 601px){
    nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
        height: 56px;
        line-height: 56px;
    }
}
nav.nav-title ul a i.material-icons {
    position: absolute;
    right: 0;
    font-size: 24px;
    right: 265px;
}
nav.nav-title ul a input, nav.nav-title ul a input:not([type]):focus:not([readonly]) {
    border-bottom: 1px solid rgba(255,255,255,.8);
    box-shadow: 0 0px 0 0 rgba(0,0,0,.2);
    width: 240px;
}
.fixed-action-btn .btn-floating {
    color: rgb(255,255,255);
    background-color: rgb(3,155,229) !important;
}