<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>AgentsBud</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/material-design-icons.min.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/nanoscroller.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/font-awesome.min.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
    <nav class="grey lighten-4 navbar-top" role="navigation">
      <div class="nav-wrapper container">
        <a href="#" class="yay-toggle" style="width: 58px">
          <div class="burg1"></div>
          <div class="burg2"></div>
          <div class="burg3"></div>
        </a>
        <a id="logo-container" href="#" class="brand-logo">
          <img src="images/logo/logo-left.png" alt="LOGO">
        </a>
        <ul class="right hide-on-med-and-down">
          <li class="user">
            <a class="dropdown-button" data-activates="user-dropdown"
               href="http://html.nkdev.info/_con/ui-buttons.html#!">
              <img class="profile-photo-thumb circle" src="images/profile-icon.png">
              Livan Frometa
              <i class="mdi-navigation-expand-more right"></i>
            </a>
            <ul id="user-dropdown" class="dropdown-content">
              <li><a href="#"><i class="mdi mdi-action-account-circle"></i> Profile</a></li>
              <li class="divider"></li>
              <li style="background-color: #f5f5f5">
                <a href="{{ path('upgrade_index') }}">
                  <i class="fa fa-credit-card"></i>
                  Upgrade Plan <br>
                  <div style="font-size: 9px;">
                    <i class="mdi mdi-device-brightness-low type-free" style="font-size: 12px;position: relative;top: -2px;left: 3px;"></i>
                    FREE
                  </div>
                </a>
              </li>
              <li class="divider"></li>
              <li>
                <a href="{{ path('fos_user_security_logout') }}">
                  <i class="mdi mdi-action-exit-to-app"></i>
                  Logout
                </a>
              </li>
            </ul>

            <style>
              #user-dropdown{top: 66px !important;}
            </style>
          </li>
        </ul>

      </div>
    </nav>

  <aside class="yaybar yay-shrink yay-hide-to-small yay-gestures">
    <div class="top">
      <div><!-- Sidebar toggle --><a href="http://html.nkdev.info/_con/ui-buttons.html#" class="yay-toggle">
        <div class="burg1"></div>
        <div class="burg2"></div>
        <div class="burg3"></div>
      </a>
        <a href="http://html.nkdev.info/_con/ui-buttons.html#!" class="brand-logo">
          <img src="images/logo/logo-left.png" alt="LOGO">
        </a>
      </div>
    </div>
    <div class="nano has-scrollbar">
      <div class="nano-content" tabindex="0" style="right: -15px;">
        <ul>
          <li>
            <a href="http://agentsbud.com/dashboard/" class="waves-effect waves-blue">
              <i class="fa fa-home"></i> Dashboard
            </a>
          </li>
          <li>
            <a href="http://agentsbud.com/dashboard/properties" class="waves-effect waves-blue">
              <i class="fa fa-building-o"></i> Properties
            </a>
          </li>
          <li>
            <a href="http://agentsbud.com/dashboard/flyer" class="waves-effect waves-blue"><i
                    class="fa fa-magic"></i> Flayers
            </a>
          </li>
          <li>
            <a href="http://agentsbud.com/dashboard/templates" class="waves-effect waves-blue">
              <i class="mdi mdi-av-web"></i> Templates
              <span class="badge new">new</span>
            </a>
          </li>
          <li>
            <a href="contact.html" class="waves-effect waves-blue"><i
                    class="fa fa-users"></i> Contacts
            </a>
          </li>
          <li>
            <a href="http://agentsbud.com/dashboard/upgrade" class="waves-effect waves-blue">
              <i class="fa fa-arrow-circle-o-up"></i> Upgrade Plan
            </a>
          </li>
        </ul>
      </div>
      <div class="nano-pane" style="display: none;">
        <div class="nano-slider" style="height: 528px; transform: translate(0px, 0px);"></div>
      </div>
    </div>
  </aside>

  <section class="content-wrap">

    <div class="container">
      <div class="section">

        <!--   Icon Section   -->
        <div class="row">
          <div class="col s12 m4">
            <div class="icon-block">
              <h2 class="center light-blue-text"><i class="material-icons">flash_on</i></h2>
              <h5 class="center">Speeds up development</h5>

              <p class="light">We did most of the heavy lifting for you to provide a default stylings that incorporate our custom components. Additionally, we refined animations and transitions to provide a smoother experience for developers.</p>
            </div>
          </div>

          <div class="col s12 m4">
            <div class="icon-block">
              <h2 class="center light-blue-text"><i class="material-icons">group</i></h2>
              <h5 class="center">User Experience Focused</h5>

              <p class="light">By utilizing elements and principles of Material Design, we were able to create a framework that incorporates components and animations that provide more feedback to users. Additionally, a single underlying responsive system across all platforms allow for a more unified user experience.</p>
            </div>
          </div>

          <div class="col s12 m4">
            <div class="icon-block">
              <h2 class="center light-blue-text"><i class="material-icons">settings</i></h2>
              <h5 class="center">Easy to work with</h5>

              <p class="light">We have provided detailed documentation as well as specific code examples to help new users get started. We are also always open to feedback and can answer any questions a user may have about Materialize.</p>
            </div>
          </div>
        </div>

      </div>
      <br><br>

      <div class="section">

      </div>
    </div>
  </section>

  <footer>
    <strong>COPYRIGHT</strong> © 2015 - 2016. All rights reserved. | <a target="_blank" href="http://agentsbud.com">AgentsBud</a>
    <div class="right"><b> </b> <img height="20" src="images/logo/logo-left.png" alt="LOGO" style="position: relative;top: 7px;margin-left: 5px;"></div>
  </footer>

  <!--  Scripts-->
  <script src="js/jquery-2.1.1.min.js"></script>
  <script src="js/jquery.nanoscroller.min.js"></script>
  <script src="js/_con.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>

  </body>
</html>
